.tasks-title {
    background-color: #3381ea;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    padding: 34px;
}

.task-small-title {
    font-size: 23px;
}

.filter-container {
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0 0 4px rgba(0,0,0,0.21);
}

.filter-side {

}

.task-filter-container {
    max-width: 66%;
    margin-left: 17%;
    margin-top: 10px;
}

.filter-header-label {
    color: #000;
    text-align: left;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
}

.filter-item {
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
    font-size: 14px;
    padding: 10px 30px;
    color: #c6c6c6;
    cursor: pointer;
}

.active {
    color: #000;
    font-weight: bold;
}

.filter-lower-header-label {
    color: #000;
    text-align: left;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 20px;
}

.tasks-holer {
    margin-bottom: 10px;
    margin-right: -5px;
}

.task-container {
    box-shadow: 0 0 4px rgba(0,0,0,0.21);
    border-left: 5px solid #1173f6;
    background-color: #fff;
}

.task-date {
    font-weight: bold;
    color: #bbbbbb;
}

.task-date-day {
    font-size: 35px;
    margin-bottom: -10px;
    margin-top: 10px;
}

.task-date-month {
    font-size:20px;
}

.task-info-holder {
    padding-left: 0;
    padding-right: 0;
}

.task-subject {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 15px;
}

.task-description {
    font-size: 14px;
    text-align: left;
    padding-left: 15px;
    color: #989898;
}

.task-action-holder {
    text-align: right;
}

.arrow-spinner {
    color: #969696;
    padding: 36px;
    margin-right: 5px;
}

.accept-btn {
    width: 117px;
    background-color: #1c9716;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.decline-btn {
    width: 117px;
    background-color: #ff1a1a;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
}

.offered-task-action {
    padding: 20px 0px;
}

.send-message-btn {
    width: 117px;
    background-color: #ef9116;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.view-solution-btn {
    width: 117px;
    background-color: #1173f6;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
}

.pagination-container {
    margin: auto auto;
}

.pagination-holder {
    margin: auto;
}

.page-link {
    color: #000;
}

.fa-caret-right {
    margin-left: -16px;
    padding-right: 6px;
    font-size: 20px;
    color: #ef9116;
    position: absolute;
}

.offered-holder {
    position: absolute;
    bottom:0;
    text-align: left;
    padding: 6px 15px;
    font-size: 14px;
    color: #000;
}

.fa-clock {
    color: #1877f5;
}

.fa-wallet {
    color: #1877f5;
    margin-left: 15px;
}