.custom-tab-row {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #3381ea;
}

.nav-link {
    border-radius: 0;
    padding: 0.7rem 1rem;
    border-bottom: 1px solid #e8e8e8;
}

.modal-content {
    border: 1px solid white;
    border-radius: 0;
}

.user-profile-content {
    padding-left: 0;
    padding-right: 0;
}

.user-profile-labels {
    background-color: #f9fafb;
    color: #585858;
}

.user-profile-inputs {
    color: #000;
}

.user-profile-inputs, .user-profile-labels {
    padding-right: 0;
}

.pills-menu {
    padding-right: 0;
    background-color: #f1f1f1;
    color: #585858;
}

.nav-link-text {
    color: #585858;
}

.nav-link-text-danger {
    color: #ff0000;
}

.nav-link-input {
    border:0;
    width: 100%;
    outline: none;
}

.user-inputs-nav-link {
    height: 47.38px;
}

.nav-save-button {
    float: right;
    margin-bottom: 15px;
    margin-right: 5px;
    padding: 5px 30px;
    background-color: #3381ea;
}

.user-inputs-nav-link-button {
    padding-top: 170px;
    border-bottom: none;
}

.custom-user-deactivate-row {
    margin-right: 0px;
}

.user-deactivate-nav-link {
    height: unset;
}

.nav-deactivate-button {
    float: right;
    margin-bottom: 15px;
    margin-right: 5px;
    padding: 5px 30px;
}

.modal-header-title {
    /*position: absolute;*/
    width: 100%;
    /*top: -140px;*/
    background-color: #ef9116;
    font-size: 53px;
    color: #fff;
    text-align: center;
    padding: 24px 0px;
}

.header-title-big {
    margin-bottom: -5px;
}

.header-title-small {
    font-size: 19px;
}

.blue-bg {
    background-color: #3381ea;
}

.signin-nav {
    padding: 10px 0px;
    border-bottom: none;
}

.nav-signin-button {
    float: right;
    margin-right: 20px;
    padding: 5px 30px;
    background-color: #ef9116;
    border: 1px solid #ef9116;
}

.navbar {
    padding: 0.5rem 0;
}

.forgot-label {
    border-bottom: none;
    padding: 16px 15px;
    background-color: #fff;
    color: #ef9116;
}

.modal-lg {
    /*margin-top: 200px;*/
}



.profile-btn {
    width: 117px;
    background-color: #3381ea;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
}

.logout-btn {
    width: 117px;
    background-color: #fa3737;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
}

.categories-drwn {
    width: 117px;
    border-radius: 15px;
    border: 1px solid #a6a6a6;
    background-color: #fff;
    font-size: 13px;
    color: #a6a6a6!important;
    height: 35px;
}

.dropdown-toggle::after {
    color: #1173f6;
    float: left;
    margin-top: 6px;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-top: 0.7em solid;
    /*margin-right: -5px;*/
}

.task-search {
    width: 337px;
    height: 35px;
    border-radius: 15px;
    /*border: 1px solid #a6a6a6;*/
    /*background-color: #fff;*/
    /*font-size: 13px;*/
    /*color: #a6a6a6;*/
    margin-left: 10px;
}

.task-search-input {
    height: 35px;
    border-radius: 15px;
    border-left: none;
    padding-left: 5px;
    color: #a6a6a6;
    border-color: #a6a6a6;
    color: #a6a6a6;
    font-size: 13px;
}

.task-search-icon {
    border-radius: 15px;
    background: transparent;
    padding-right: 2px;
    border-color: #a6a6a6;
    background-color: #fff;
}