<section class="container col-md-4 section-holder">
  <h2>Signin</h2>
  <form name="form" #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="text" class="form-control" id="email" placeholder="Email" name="email" ngModel required #email="ngModel">
    </div>
    <div *ngIf="!signinErrors.email && email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <div *ngIf="email.errors.required">
        The email field is required.
      </div>
    </div>
    <div *ngIf="signinErrors && signinErrors.email" class="alert alert-danger">
      {{signinErrors.email}}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" ngModel required #password="ngModel">
    </div>
    <div *ngIf="!signinErrors.password && password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors.required">
        The password field is required.
      </div>
    </div>
    <div *ngIf="signinErrors && signinErrors.password" class="alert alert-danger">
      {{signinErrors.password}}
    </div>
    <div *ngIf=" signinErrors.global" class="alert alert-danger">
      {{signinErrors.global}}
    </div>
    <button class="btn btn-primary">Signup</button>
  </form>
</section>