<div class="modal-header-title">
    <p class="header-title-big">Forgot your password?</p>
    <p class="header-title-small">Please enter your info:</p>
</div>
<div class="modal-content">
    <div class="modal-body row custom-tab-row">
        <div class="tab-content col-12">
            <div class="tab-pane fade show active" role="tabpanel"
                 aria-labelledby="v-pills-home-tab">
                <div class="row">
                    <div class="nav flex-column nav-pills col-md-4 user-profile-labels"
                         role="tablist" aria-orientation="vertical">
                        <div class="nav-link-label">Email</div>
                    </div>
                    <div class="nav flex-column nav-pills col-md-8 user-profile-inputs"
                         role="tablist" aria-orientation="vertical">
                        <form name="form" #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
                            <div class="nav-link user-inputs-nav-link"><input type="text" class="nav-link-input"
                                                                              id="email"
                                                                              name="email"
                                                                              ngModel required #email="ngModel">
                            </div>
                            <div class="nav-link signin-nav">
                                <button type="submit" class="btn btn-primary nav-send-button">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>